*,
*::before,
*::after {
  box-sizing: border-box;
}

.top {
    display: flex;
    justify-content: space-between;
    border-bottom: 3.5px solid black;
}

.menu-icon {
    font-size: 24px;
}

.title {
    text-align: center;
    font-size: larger;}

header {
    border-bottom: 3.5px solid black;
}

main {
    margin: 10px;
}

.middle {
    display: grid;
    grid-template-columns: 1.75fr 1.25fr; /* Primary gets 2 parts and secondary gets 1 part */
    gap: 1rem;
}

.secondary {
    /* Stack the articles in 2 equal columns */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.secondary img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: lightgray;
}

footer a {
    display: block;
}

h1, h2, h3, p, a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}